# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore compiled binaries and build files
dist/
build/

# Ignore local development configuration files
.env
.env.local
.env.*.local

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore .DS_Store files for macOS
.DS_Store
